.endgame-party-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.scores {
  max-height: 70vh;
  overflow: scroll;
}

.post-it-input {
  border-bottom: 2px solid white;
  background: #E83E8C;
}
