// Specific CSS for your home-page
.home-banner {
  background: $dark;
  width: 100%;
  text-align: center;
  padding: 24px;
  color: white;
  min-height: 100vh;
  p {
    font-size: 16px;
  }
  h1, h4 {
    color: $primary;
  }
}

.home-banner-title {
  font-size: 24px;
}

.home-thing {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 16px;
  img {
    width: 80px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  span {
    font-size:14px;
  }
}

.join {
  text-align: center;
  h1 {
    font-size: 24px;
    color: $primary;
  }
}

.form-control {
  border: none;
  border-bottom: 2px solid $primary;
}
.user-card {
  display: flex;
  align-items: center;
  width: 100px;
  margin: auto;
  .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    background-color: $primary;
    color: white;
  }
  margin-bottom: 16px;
}






