// Specific CSS for your home-page
.home-banner {
  background: $dark;
  width: 100%;
  text-align: center;
  padding: 24px;
  color: white;
  min-height: 100vh;
  p {
    font-size: 16px;
  }
  h1, h4 {
    color: $primary;
  }
}

.home-banner-title {
  font-size: 24px;
}

.home-thing {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 16px;
  img {
    width: 80px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  span {
    font-size:14px;
  }
}
