<div class="container join pt-3">
  <h1 class="mb-5">NAME THE PAIN</h1>
  <p>Pick the real solution for <%= @start_up.company %></p>
  <div class="my-5">
    <div class="round-result">
        <ul id="answer_section" class="round-answers">
          <% @round.answers.each do |answer| %>
            <%= link_to vote_answer_path(answer), method: :post, remote: true do%>
              <li class="round-answer-box"><%= answer.content %></li>
            <% end %>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<script>
  const results = document.querySelectorAll("#answer_section li");
  results.forEach((answer) => {
    answer.addEventListener('click', (e) => {
      results.forEach(answer => answer.classList.remove("round-answers-active"));
      e.currentTarget.classList.toggle("round-answers-active");
    });
  });
  const channel = pusher.subscribe('answer-channel');
  channel.bind('round-finish', (({ nextRound, game }) => {
    if (nextRound) {
      window.location.href = `/games/${game}/rounds/${nextRound}/`
    } else {
      window.location.href = `/games/${game}/results`
    }
  }))
</script>
