<div class="container">
  <%= simple_form_for [@round, @answer] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
  <ul id="answer_section">
    <% @round.answers.each do |answer| %>
      <li><%= answer.content %></li>
    <% end %>
  </ul>
</div>
<script>
    var channel = pusher.subscribe('answer-channel');
    channel.bind('new-answer', (data) => {
        let answer = data.answer;
        let list = document.getElementById('answer_section');
        list.insertAdjacentHTML('beforeend', `<li> ${answer} </li>`);
        document.getElementById('answer_content').value = '';
    });
</script>
