<div class="home-banner">
  <h1 class="home-banner-title">NAME THE PAIN!</h1>
  <p>Find the pain, target and solution for a company.</p>
</div>
<div class="home-actions">
  <%= link_to "JOIN GAME", join_path, class: "btn btn-one"%>
  <%= link_to "START GAME", new_game_path, class: "btn btn-two"%>
</div>
<div class="how-it-works">
  <h1 class="how-it-works-title">HOW IT WORKS</h1>
</div>

