<div class="home-banner">
  <h1 class="home-banner-title">Name the Pain!</h1>
  <div class="home-banner-splash">
    <%= image_tag "pain.png", class: "home-banner-image" %>
    <%= image_tag "target.png", class: "home-banner-image" %>
    <%= image_tag "solution.png", class: "home-banner-image" %>
  </div>
</div>
<div class="home-actions">
  <%= link_to "JOIN A GAME", join_path, class: "btn btn-primary"%>
  <a href="" class="btn btn-primary">MANGE A BITÉ</a>
  <a href="" class="btn btn-primary">CHNEK</a>
</div>

