<div class="home-banner">
  <h1 class="home-banner-title">NAME THE PAIN!</h1>
</div>
<div class="home-actions">
  <%= link_to "JOIN A GAME", join_path, class: "btn btn-primary"%>
  <%= link_to "MANGE A BITÉ", root_path, class: "btn btn-danger"%>
</div>
<div class="how-it-works">
  <h1 class="how-it-works-title">HOW IT WORKS:</h1>

</div>

