.btn-one {
  background-color: $primary;
  color: white;
  padding: 10px 0;
}

.btn-one:hover {
  background-color: darken($primary, 10%);
  color: white;
}

.btn-two {
  border: 1px solid white;
  color: white;
  padding: 10px 0;
}

.btn-two:hover {
  border: 1px solid $primary;
  color: $primary;
}

.btn-white {
  background-color: white;
  color: $primary;
  padding: 10px 5px;
}

.btn-white:hover {
  border: 1px solid white;
  color: $primary;
}

.btn-endgame {
  background-color: #E73F8B;
  color: white;
  padding: 10px 0;
  z-index: 38;
  opacity: 1;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 35vw);
  width: 70vw;
}
